<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Clientes</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<input type="text" class="form-control" 
				typeahead="cliente as cliente.nombre for cliente in vm.suggestedClientes"
				ng-change="vm.updateSuggestions()" ng-model="vm.search">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>e-mail</th>
					<th>Telefono</th>
					<th>Direccion</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cliente in vm.listaClientes" 
					ng-click="vm.seleccionado=cliente"
					ng-class="{active: (cliente==vm.seleccionado)}"
					class="fx-fade-down fx-easing-bounce fx-speed-500"
					context-menu="vm.onRightClick(message)"
					context-menu-close="vm.onCloseMenu(closeMessage)"
					context-menu-margin-bottom="10"
					id="cliente-{{ $index }}"
					data-target="menu-{{ $index }}"
					>
					<td>{{cliente.nombre}}</td>
					<td>{{cliente.email}}</td>
					<td>{{cliente.telefono}}</td>
					<td>{{cliente.direccion}}</td>
				</tr>
			</tbody>
		</table>
		<div
			ng-repeat="cliente in vm.listaClientes"
			class="dropdown position-fixed" 
			id="menu-{{ $index }}">
			<ul class="dropdown-menu" role="menu">
				<li role="presentation" class="dropdown-header">{{cliente.nombre}}</li>
				<li>
					<a class="pointer" role="menuitem" tabindex="1">
						Modificar		
					</a>
				</li>
				<li>
					<a class="pointer" role="menuitem" tabindex="1">
						Eliminar		
					</a>
				</li>
			</ul>
		</div>
		<pagination total-items="vm.page.totalElements"
						ng-model="vm.currentPage"
						num-pages="vm.page.totalPages"
						items-per-page="vm.page.size"
						ng-change="vm.pageChanged()">
			</pagination>
	</div>

	<footer>
		<button class="btn btn-default" ng-click="vm.abrirModalCrearCliente()">
			<i class="fa fa-user-plus fa-fw">
				
			</i> 
			Crear Cliente
		</button>
		<button class="btn btn-default" ng-click="vm.clearSelection()">
			Clear Selection
		</button>
		<button ng-click="vm.editSelected()"
				ng-show="vm.seleccionado"
				class="btn btn-default">
			<i class="fa fa-pencil-square-o fa-fw"></i> Editar Seleccionado
		</button>
		<button ng-click="vm.deleteSelection()" 
				ng-show="vm.seleccionado" 
				class="btn btn-danger">
			<i class="fa fa-trash-o fa-fw"></i> Delete Selected
		</button>
		<p class="help-text">{{vm.listaClientes.length}} clientes registrados</p>
	</footer>
	<!-- /.row -->
</div>