<div class="container-fluid">
	
		
			<h1 class="page-header">{{vm.title}}</h1>

			<!-- errors -->
			<div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissable">
				<button class="close" type="button" aria-hidden="true" ng-click="dismissError(error)">
					x
				</button>
				<p>Status Code: {{error.status}}</p>
				<p>{{error.message}}</p>
			</div>
			<!-- /errors -->
			
			<!-- tabla bebidas -->
				
			<button class="btn btn-default" type="button" ng-click="vm.abrirModalCrearBebida()">
				<i class="fa fa-plus fa-fw"></i> Crear Nueva Bebida
			</button>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Descripcihn</td>
						<th>Delete?</hd>
					</tr>
				</thead>
				<tbody ng-cloak>
					<tr ng-repeat="bebida in vm.listaBebidas" class="fx-fade-right fx-easing-bounce fx-speed-500" ng-cloak>
						<td>{{bebida.nombre}}</td>
						<td>{{bebida.precio | currency}}</td>
						<td>{{bebida.descripcion}}</td>
						<td><button class="btn btn-danger" ng-click="vm.remove(bebida)"><i class="fa fa-remove"></i></button></td>
					</tr>
				</tbody>
			</table>
			<footer>
				<pagination total-items="vm.page.totalElements"
									ng-model="vm.currentPage"
									num-pages="vm.page.totalPages"
									items-per-page="vm.pageSize"
									ng-change="vm.pageChanged()"
									class="nav navbar-nav"></pagination>
			</footer>
			<!-- /tabla bebidas -->

		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>