<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				<i class="fa fa-shopping-cart fa-fw"></i>Pedidos <small>Listar</small>
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<style>
	.list-group-item.highlighted {
		color: white;
		background-color: lightgrey;
	}

	</style>
	<div class="row">	
		<div class="col col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Pedidos</div>
				<div class="panel-body">
					<p>Seleccione fecha:
						<select class="form-control" placeholder="seleccione una fecha" ng-model="vm.filtroFecha" ng-options="fecha for fecha in vm.fechas" ng-change="vm.updatePedidos()"></select>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="vm.filtrarCompletos" > Filtrar completos</label>
						</div>
					</p>
					<div class="list-group">
						<div class="list-group-item fx-zoom-right fx-easing-elastic fx-speed-600" ng-repeat="pedido in vm.listaPedidos track by $index " ng-class="{'list-group-item-danger': !pedido.estado.completo &&pedido.alerta, 'list-group-item-success': pedido.estado.completo}" ng-click="vm.verPedido(pedido)">
							<h4 class="list-group-item-heading">
								{{pedido.cliente.nombre}}
								<a class="close" ng-click="vm.remove(pedido)">&times;</a>
							</h4>
							<span class="row">
								<span class="col col-sm-8">
									<dl class="dl-horizontal">
										<dt>Direccion</dt>
										<dd>
											{{pedido.direccion}}
											
										</dd>
										<dt>fecha</dt>
										<dd>
											{{pedido.fecha | fromnow}}
											
										</dd>
										<dt>estado</dt>
										<dd>
											{{pedido.estado.id}} 
											
										</dd>
									</dl>
									<button class="btn btn-primary" ng-click="vm.nextState($index, pedido)">next</button>
								</span>
								<span class="col col-sm-4">
									<div class="badge badge-info pull-right">
										<h4>{{pedido.total | currency}}</h4>
									</div>
								</span>
							</span>
							<p>
								<div class="progress">
										<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{pedido.estado.progreso}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{pedido.estado.progreso}}%;">
											{{pedido.estado.progreso}}%
										</div>
									</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Información General
				</div>
				<div class="panel-body">
					<p>Informacion relativa a los pedidos seleccionados</p>
					<dl class="dl-horizontal">
						<dt ng-show="vm.filtroFecha">Fecha</dt>
						<dd ng-show="vm.filtroFecha">{{vm.filtroFecha}}</dd>
						<dt>Cantidad de Pedidos</dt>
						<dd>{{vm.listaPedidos.length}}</dd>
						<dt>Total Ventas</dt>
						<dd>{{vm.getTotal(vm.listaPedidos) | currency}}</dd>

					</dl>
	
				</div>
			</div>
		</div>
	</div>
</div>